[Unit]
Description=Prometheus
After=network.target auditd.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/prometheus
User=prometheus
Group=prometheus
ExecStart=/usr/bin/prometheus $ARGS
Restart=always

[Install]
WantedBy=multi-user.target
