[Unit]
Description=JMX Exporter for Prometheus
After=network.target auditd.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/jmx_exporter
User=prometheus
Group=prometheus
ExecStart=/usr/bin/jmx_exporter $ARGS
Restart=always

[Install]
WantedBy=multi-user.target
